.process-analysis {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Create two equal columns for the cards */
  gap: 20px; /* Space between the cards */
  width: 100%; /* Ensure full width for the grid container */
}

.card {
  width: 100%; /* Ensure it takes full width of the grid cell */
  max-width: 400px; /* Max width of each card */
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 50;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-card {
  /* Styling for the filter card */
}

.export-card {
  /* Styling for the export card */
}

h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.filter label {
  margin-right: 10px;
}

select {
  padding: 5px;
  font-size: 1rem;
}

.totals {
  margin-top: 20px;
}

.totals ul {
  list-style-type: none;
  padding: 0;
}

.totals li {
  margin: 5px 0;
}

.filtered-submissions {
  width: 100%;
  margin-top: 20px;
}

.filtered-submissions table {
  width: 100%;
  border-collapse: collapse;
}

.filtered-submissions th,
.filtered-submissions td {
  padding: 10px;
  text-align: left;
  border: 1px solid #000000;
}

.filtered-submissions th {
  background-color: #f4f4f4;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr; /* Stack cards vertically on smaller screens */
  }

  .filtered-submissions {
    width: 100%;
  }
}

/* Add to ProcessAnalysis.css for styling the export buttons */
.export-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.export-btn {
  padding: 10px 20px;
  background-color: #522da8e1;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0;
  transition: background-color 0.3s;
}

.export-btn:hover {
  background-color: #3a1e8b;
}
